<link rel="import" href="/bower_components/px-icon-set/px-icon-set.html" />
<link rel="import" href="/bower_components/px-tile/px-tile.html" />
<link rel="import" href="/bower_components/px-tooltip/px-tooltip.html" />
<link rel="import" href="/bower_components/px-card/px-card.html" />
<link rel="import" href="/bower_components/px-panel/px-panel.html" />

<!-- 
    App
-->
<link rel="import" href="/clientapp/app/sim-app-config.html" />

<!--
    Style
-->
<link rel="import" href="../../css/fpsim-app-styles.html">

<!--
    Elements
-->
<link rel="import" href="/clientapp/elements/project-tile/project-tile.html">

<dom-module id="projects-view">
    <template>

        <style include="fpsim-app-styles" is="custom-style"></style>

        <!-- Fetch the collection of projects to display -->
        <iron-ajax auto url="[[projectsUrl]]" handle-as="json" on-error="handleError" on-response="handleResponse">
        </iron-ajax>

        <!-- A card conatins all project items -->
        <px-card header-text="Projects" icon="analysis">
            <div class='actions'>
                <px-icon id="projects-add" icon='px-utl:add'></px-icon>
                <px-icon id="projects-view-tile" icon='px-nav:grid-view'></px-icon>
                <px-icon id="projects-view-list" icon='px-nav:list-view'></px-icon>
                <px-icon id="projects-help" icon='px-utl:help'></px-icon>
                <px-tooltip for="projects-add" delay="50" tooltip-message="Add new project" orientation="bottom"></px-tooltip>
                <px-tooltip for="projects-view-tile" delay="50" tooltip-message="Tile view" orientation="bottom"></px-tooltip>
                <px-tooltip for="projects-view-list" delay="50" tooltip-message="List view" orientation="bottom"></px-tooltip>
                <px-tooltip for="projects-help" delay="50" tooltip-message="View help on projects" orientation="auto"></px-tooltip>
            </div>
            <div class="flex flex--row flex--left flex--top flex--wrap test">
                <!-- Create a tile for each project item -->
                <template is="dom-repeat" items="{{projects}}" as="project">
                    <project-tile title="{{project.title}}" description="{{project.description}}" image-url="{{project.imageUrl}}">
                    </project-tile>
                </template>
            </div>
        </px-card>

        
            <!-- Panel for project name editting -->
            <!--
            <px-panel id="panel" opened fixed position="right" class="style-scope">
                <div slot="content">Content</div>
            </px-panel>
            -->
    
    </template>
    <script src="projects-view.js"></script>

</dom-module>